body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
.main-page {
    height: 100%;
    width: 100%;
}
/* header */
#header {
    width: 100%;
    position: relative;
 height: 56px;
 background-color: white;
 display: flex;
 justify-content: space-between;
}
.material-symbols--menu {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  margin: 1px 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding:auto 0;
  display: flex; 
  justify-content: center;
  align-items: center;
}
/* search */
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.material-symbols--search {
  display: inline-block;
  width: 1.1em;
  height: 1.6em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;

}
.search-left_btn {
    position: absolute;
    
    width: 40px;
  height: 36px;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}
.searchTerm {
  width: 100%;
  border: 3px solid rgba(0,0,0,0.3);
  border-right: none;
  padding: 5px 5px 5px 35px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  
  color:black;
}

.searchTerm:focus{
  color: BLACK;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.3);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}
#main-page{
    width: 461px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #999;
    border: 1px 1px 1px 1px rgba(0,0,0,0.1);
    background: white;
    min-height: 100%;
    max-height: 100%;
}

/* account */
#account {
    display: flex;
gap: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-20%, -50%);
}
.account-plus{
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-size: 20px;
    background: rgba(0,0,0,0.2);
     display: inline-block;
     border-radius: 100%;
padding: 8px 14px;
  display: flex; 
  justify-content: center;
  align-items: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.codicon--account {
cursor: pointer;
  display: inline-block;
 padding: 0px 16px;
width: 0.3em;
  padding:auto 0;
  display: flex; 
  justify-content: center;
  align-items: center;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M16 7.992C16 3.58 12.416 0 8 0S0 3.58 0 7.992c0 2.43 1.104 4.62 2.832 6.09c.016.016.032.016.032.032c.144.112.288.224.448.336c.08.048.144.111.224.175A8 8 0 0 0 8.016 16a8 8 0 0 0 4.48-1.375c.08-.048.144-.111.224-.16c.144-.111.304-.223.448-.335c.016-.016.032-.016.032-.032c1.696-1.487 2.8-3.676 2.8-6.106m-8 7.001c-1.504 0-2.88-.48-4.016-1.279c.016-.128.048-.255.08-.383a4.2 4.2 0 0 1 .416-.991c.176-.304.384-.576.64-.816c.24-.24.528-.463.816-.639c.304-.176.624-.304.976-.4A4.2 4.2 0 0 1 8 10.342a4.18 4.18 0 0 1 2.928 1.166q.552.552.864 1.295q.168.432.24.911A7.03 7.03 0 0 1 8 14.993m-2.448-7.4a2.5 2.5 0 0 1-.208-1.024c0-.351.064-.703.208-1.023s.336-.607.576-.847s.528-.431.848-.575s.672-.208 1.024-.208c.368 0 .704.064 1.024.208s.608.336.848.575c.24.24.432.528.576.847c.144.32.208.672.208 1.023c0 .368-.064.704-.208 1.023a2.8 2.8 0 0 1-.576.848a2.8 2.8 0 0 1-.848.575a2.72 2.72 0 0 1-2.064 0a2.8 2.8 0 0 1-.848-.575a2.5 2.5 0 0 1-.56-.848zm7.424 5.306c0-.032-.016-.048-.016-.08a5.2 5.2 0 0 0-.688-1.406a4.9 4.9 0 0 0-1.088-1.135a5.2 5.2 0 0 0-1.04-.608a3 3 0 0 0 .464-.383a4.2 4.2 0 0 0 .624-.784a3.6 3.6 0 0 0 .528-1.934a3.7 3.7 0 0 0-.288-1.47a3.8 3.8 0 0 0-.816-1.199a3.9 3.9 0 0 0-1.2-.8a3.7 3.7 0 0 0-1.472-.287a3.7 3.7 0 0 0-1.472.288a3.6 3.6 0 0 0-1.2.815a3.8 3.8 0 0 0-.8 1.199a3.7 3.7 0 0 0-.288 1.47q0 .528.144 1.007c.096.336.224.64.4.927c.16.288.384.544.624.784q.216.216.48.383a5 5 0 0 0-1.04.624c-.416.32-.784.703-1.088 1.119a5 5 0 0 0-.688 1.406c-.016.032-.016.064-.016.08C1.776 11.636.992 9.91.992 7.992C.992 4.14 4.144.991 8 .991s7.008 3.149 7.008 7.001a6.96 6.96 0 0 1-2.032 4.907'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
/* account */
.slider{
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px gray;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
.navigation-button {
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}

.center-h2{
    font-size: 15px;
    align-items: left;
    text-align: left;
    padding: 15px 0;
}
#center-events {
   padding: 15px 15px;
   height: 100%;
}
.center-events_items {
    position: relative;
      display: flex;
      background: rgba(0,0,0,0.2);
    justify-content: space-between;
    text-align: left;
    height: 100%;
    margin: 20px 0;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}
.center-events_items__content{
  
}
.center-events_items__title{
  margin-left: 34%;
}
.center-events_items img {
    width: 30%;
    position: absolute;
    height: 100%;

}
.center-events_items h2 {
   font-size: 14px;

}
.center-events_items p {
   padding: 0 0;
   line-height: 5px;
   font-weight: 600;
   font-size: 12px;
}
.center-events_items p .active{
    color: rgb(38, 160, 38);
    background-color: transparent;
}
.center-events_items__end {
  box-shadow: 0px 1px 2px 1px gray;
    background-color: rgba(0,0,0,0.01);
    padding: 0 30px;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.center-events_items__end span{
    line-height: 20px;
    font-weight: 600;
    color: #444;
    padding: 0;
}
#center {
   height: 100%;
   overflow-y: auto;
}